{{! Template for the frost-range-picker component }}

<div class='{{css}}-start-date'>
  <div class='{{css}}-title' data-test={{hook (concat hook '-start-title')}}>
    {{startTitle}}
  </div>
  {{#if start}}
    {{component start
      hook=(concat hookPrefix '-start')
      class=(if _valueInvalid 'error')
      value=value.start
      onChange=(action '_onStartChange')
    }}
  {{else}}
    {{frost-date-time-picker
      hook='demo-date-time-picker'
      class=(if _valueInvalid 'error')
      value=value.start
      onChange=(action '_onStartChange')
    }}
  {{/if}}
</div>
<div class='{{css}}-separator'>
  -
</div>
<div class='{{css}}-end-date'>
  <div class='{{css}}-title' data-test={{hook (concat hook '-end-title')}}>
    {{endTitle}}
  </div>
  {{#if end}}
    {{component end
      hook=(concat hookPrefix '-end')
      class=(if _valueInvalid 'error')
      value=value.end
      onChange=(action '_onEndChange')
    }}
  {{else}}
    {{frost-date-time-picker
      hook=(concat hookPrefix '-end')
      class=(if _valueInvalid 'error')
      value=value.end
      onChange=(action '_onEndChange')
    }}
  {{/if}}
</div>
