{{! Template for the frost-range-picker component }}
<div class='{{layoutStyle}}'>
  <div class='item start-date'>
    <div class='title'>
      {{startTitle}}
    </div>
    {{frost-date-time-picker
      defaultDate=startingDate
      defaultTime=startingTime
      dateValidator=startValidator
      timeValidator=startValidator
      onSelect=(action 'onSelect')
      onError=(action 'onError')
    }}
  </div>
  {{#if (eq layoutStyle 'row')}}
    <div class='seperator'>
      -
    </div>
  {{/if}}
  <div class='item end-date'>
    <div class='title'>
      {{endTitle}}
    </div>
    {{frost-date-time-picker
      defaultDate=endingDate
      defaultTime=endingTime
      dateValidator=endValidator
      timeValidator=endValidator
      onSelect=(action 'onSelect')
      onError=(action 'onError')
    }}
  </div>
</div>
