{{! Template for the frost-range-picker component }}

<div class='{{css}}{{if isVertical '-vertical' '-horizontal'}}'>
  <div class='{{css}}-start-date'>
    <div class='{{css}}-title'>
      {{startTitle}}
    </div>
    {{component start
      hook=(concat hookPrefix '-start')
      date=(component 'frost-date-picker'
        hook=(concat hookPrefix '-start-date')
        isIconVisible=false
        format=dateFormat
        readonly=readonly
        validator=dateValidator
        value=value.start
      )
      time=(component 'frost-time-picker'
        hook=(concat hookPrefix '-start-time')
        format=timeFormat
        validator=timeValidator
        value=value.start
      )
      defaultDate=value.start
      defaultTime=value.start
      onChange=(action 'onStartChange')
    }}
  </div>
  <div class='{{css}}-separator'>
    -
  </div>
  <div class='{{css}}-end-date'>
    <div class='{{css}}-title'>
      {{endTitle}}
    </div>
    {{component end
      hook=(concat hook '-end')
      defaultDate=value.end
      defaultTime=value.end
      onChange=(action 'onEndChange')
    }}
  </div>
</div>
